<div class="panel-container" *ngIf="contract">
    <div class="panel-body">
        <div class="row">
            <div class="col-3">
                <p class="header-paragraph">Nazwa klienta</p>
                <p class="body-paragraph">{{ contract.customerName }}</p>
            </div>
            <div class="col-3">
                <p class="header-paragraph">Data zawarcia</p>
                <p class="body-paragraph">{{ contract.date | date: 'dd-MM-yyyy' }}</p>
            </div>
            <div class="col-3">
                <p class="header-paragraph">Wartość</p>
                <p class="body-paragraph">{{ contract.value }} PLN</p>
            </div>
        </div>
    </div>
</div>
