.form-control{
    height: 25px;
    border-radius: 7px;
    border: 2px solid rgb(235, 230, 230);
}

.form-control:hover{
    border: 2px solid rgb(167, 218, 252);
}

.form-control:focus{
    background-color: rgb(253, 252, 252);
    border: none;
}

.form-group{
    width: 100%;
    display: flex;
    flex-direction: column;
    
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 20px;    
}

.form-group select{
    height: 25px;
}

.form-group label{
    margin-bottom: 7px;
}

.danger-form{
    margin-top: 10px;
    border-radius: 5px;
    border: 2px solid rgb(247, 91, 91);
    font-weight: bold;
    font-size: 16px;
    color: rgb(184, 53, 53);
    padding: 10px;
    width: 350px;
    background-color: rgb(255, 195, 195);
}