.form-control{
    height: 25px;
    border-radius: 7px;
    border: 2px solid rgb(235, 230, 230);
}

.form-control:hover{
    border: 2px solid rgb(167, 218, 252);
}

.form-control:focus{
    background-color: rgb(253, 252, 252);
    border: none;
}

.form-group{
    width: 100%;
    display: flex;
    flex-direction: column;
    
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 20px;    
}

.form-group select{
    height: 25px;
}

.form-group label{
    margin-bottom: 7px;
}