<div class="panel-container">
    <div class="panel-heading">
        Dodaj klienta
    </div>
    <div class="panel-body">
        <form #customerForm="ngForm">
            <div class="form-group">
                <label for="name">Nazwa klienta</label>
                <input required type="text" class="form-control" id="name" #nameModel="ngModel" [(ngModel)]="name" name="name">
                <div class="danger-form" *ngIf="nameModel.invalid && nameModel.touched">Pole nazwa jest wymagane!</div>
            </div>

            <div class="form-group">
                <label for="age">Wiek</label>
                <input required type="number" class="form-control" id="age" [(ngModel)]="age" name="age" #ageModel="ngModel">
                <div class="danger-form" *ngIf="ageModel.invalid && ageModel.touched">Pole wiek jest wymagane!</div>
            </div>

            <div class="form-group">
                <label for="type">Typ</label>
                <select required class="form-control" id="type" [(ngModel)]="type" name="type">
                    <option [value]="CustomerType.Standard">Standard</option>
                    <option [value]="CustomerType.Premium">Premium</option>
                    <option [value]="CustomerType.VIP">VIP</option>
                </select>
            </div>
            <ng-template #buttonNo>Wypełnij wszystkie pola!</ng-template>
            <ng-template #buttonYes>
                <button type="button" class="btn" (click)="add()">Dodaj!</button>
            </ng-template>
            <div *ngIf="customerForm.form.valid==true then buttonYes else buttonNo" type="button" class="btn" (click)="add()">Dodaj!</div>
        </form>
    </div>
</div>
