<div class="panel-container">
    <div class="panel-heading">
        <h1 [class.isActive]="isActive" [style.color]="nameColor">{{customer.name}}
            <ng-container [ngSwitch]="customer.type">
                <ng-container *ngSwitchCase="CustomerType.Standard">*</ng-container>
                <ng-container *ngSwitchCase="CustomerType.Premium">**</ng-container>
                <ng-container *ngSwitchCase="CustomerType.VIP">***</ng-container>
                <ng-container *ngSwitchDefault>nieznany typ</ng-container>
            </ng-container>
        </h1>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-2">
                <p>{{ customer.description }}</p>
                <p>Wiek: {{ customer.age }}</p>
                <p>Adres: {{ customer.address.street }} {{ customer.address.houseNumber }}, {{ customer.address.city
                    }}</p>

                <ul>
                    <li *ngFor="let category of customer.categories">{{category}}</li>
                </ul>
                <button class="btn" (click)="changeColor()" type="button">Przełącz kolor</button>
            </div>
            <div class="col-2">
                <div class="checkbox">
                    <label><input type="checkbox" [(ngModel)]="showPhoto">Pokaż zdjęcie</label>
                </div>
                <div *ngIf="showPhoto; then photo else noPhoto"></div>
                <ng-template #noPhoto>
                    <p>Zdjęcie ukryte</p>
                </ng-template>
                <ng-template #photo>
                    <img [src]=customer.photoUrl />
                </ng-template>
            </div>
        </div>
    </div>
</div>